@import '~@ali/yk-base/lib/Base/mixin.less';
.ykui-two-items{
	padding: 0 10px;
	box-sizing: border-box;
	background: @color-bg;
	.ui-flex();
	flex-wrap: wrap;
	.ui-item{
		width: 50%;
		box-sizing: border-box;
		border: 6px/@base-radio solid transparent;
		border-width: 0px 0px 3px/@base-radio 3px/@base-radio;
		&:nth-child(2n+1){
			border-width: 0px 3px/@base-radio 3px/@base-radio 0px;
		}
		.ui-item(198, 352);
	}
}

